@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/*navbar,  container logo nav*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-image: url(./assets/crew/background-crew-desktop.jpg);
  /*background-color: #0151cc;*/
}


ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  color: #fff;
  height: 60px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: lightblue;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}


.automagically {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2% 5% 0 5%;
    gap: 5%;
}




.planet-visit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;    
}

 .planet-visit a {
    color: #fff;
    font-size: 22px;
    text-decoration: none;

 }

 h1 strong {
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
 }

 .play-with-distance {
    display:grid ; 
	grid-template-columns:  1fr 1fr;  
	gap: 1px;
	justify-content: centre;
	align-items: center; 
	/*height: 100%*/; 
}

.play-with-estimate {
    display:grid ; 
	grid-template-columns:  1fr 1fr;  
	gap: 1px;
	justify-content: centre;
	align-items: center;
}

 hr {
    margin: 2% auto 2% auto;
 }


 .bottom-links {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3%;
 }